---
import { shortTimeAgo } from "../utils/time";

const { domain, feed } = Astro.props;
---

<div class="max-w-prose border-b-primary pb-2 border-b-2 w-full" id={domain}>
  <h2
    class="mb-1 text-center underline-offset-3 tracking-wide font-bold text-xl font-oswald"
  >
    {domain}
  </h2>
  <ul class="list-disc list-inside">
    {
      feed.slice(0, 10).map((item) => (
        <li class="prose ">
          <>
            <a href={item.link}>{item.title}</a>
            <span>[{shortTimeAgo(item.pubDate)}]</span>
          </>
        </li>
      ))
    }
  </ul>
</div>
